@using Domain.Entities
@model WebUI.Models.CharacterModel

<div class="character-container">
    <div class="image-container">
        <img src="~/Content/Images/@Model.Character.PicturePath" />
    </div>
    <div class="character-info">
        <div class="character__name">@Html.DisplayFor(modelItem => Model.Character.Name)</div>
        <div class="character__description">@Html.DisplayFor(modelItem => Model.Character.Description)</div>
        <div class="character__cost">Cost: @Html.DisplayFor(modelItem => Model.Character.Cost)</div>
        <div class="character__status">
            Status:
            @if (Model.Character.LifeStatus == LifeStatus.Alive)
            {
                <span>Alive</span>
            }
            else
            {
                <span>Dead</span>
            }
            <div class="character-sex">Sex: @Model.Character.Sex.ToString()</div>
        </div>
    </div>

    @if (!Model.Voted)
    {
        <div style="position: absolute; right: 0; bottom: 0;">
            <input value="Vote" type="button" onclick="vote(@Model.Character.Id, '@Model.ReturnUrl')"/>
        </div>
     }

</div>