@model IEnumerable<Domain.Entities.Character>

@{
    ViewBag.Title = "List";
    <link href="@Url.Content("~/Content/Characters.css")"
          rel="stylesheet" type="text/css" />
}

<div class="root">
    <h2>Characters</h2>
    @Html.ActionLink("Display males", "List", "Character", new { fieldName = "Sex", fieldValue = "Male" }, null)
    @Html.ActionLink("Display women", "List", "Character", new { fieldName = "Sex", fieldValue = "Female" }, null)
    @Html.ActionLink("Display dead people", "List", "Character", new { fieldName = "IsAlive", fieldValue = "False" }, null)
    @Html.RouteLink("Display all", "Default", new { action = "List" })

    <h2>Продвинутый поиск</h2>
    @{Html.BeginForm("List", "Character", FormMethod.Post);}
    <div class="item">
        <div>
            <label>Name</label>
            <input name="name" />
        </div>

        <div>
            <select id="Alive?" name="isAlive">
                <option value="True">Alive</option>
                <option value="False">Dead</option>
            </select>
        </div>

        <div>
            <select id="Sex" name="sex">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
        </div>

    <input type="submit" value="Отправить" />
    </div>
    @{Html.EndForm();}

    @foreach (var item in Model)
    {
        <div class="character-container">
            <div class="image-container">
                <img src="~/Content/Images/@item.PicturePath" />
            </div>
            <div class="character-info">
                <div class="character__name">@Html.DisplayFor(modelItem => item.Name)</div>
                <div class="character__description">@Html.DisplayFor(modelItem => item.Description)</div>
                <div class="character__cost">Cost: @Html.DisplayFor(modelItem => item.Cost)</div>
                <div class="character__status"> Status:
                    @if (item.IsAlive)
                    {
                        <span>Alive</span>
                    }
                    else
                    {
                        <span>Dead</span>
                    }
                    <div class="character-sex">Sex: @item.Sex.ToString()</div>
                </div>
            </div>
        </div>

        @*    <tr>*@
        @*        <td>*@
        @*            @Html.DisplayFor(modelItem => item.Name)*@
        @*        </td>*@
        @*        <td>*@
        @*            @Html.DisplayFor(modelItem => item.Description)*@
        @*        </td>*@
        @*        <td>*@
        @*            @Html.DisplayFor(modelItem => item.Cost)*@
        @*        </td>*@
        @*        <td>*@
        @*            @Html.DisplayFor(modelItem => item.IsAlive)*@
        @*        </td>*@
        @*        <td>*@
        @*           <img src="../Content/Images/@item.PicturePath"/>*@
        @*        </td>*@
        @*    </tr>*@
    }
</div>